<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Chỉnh sửa thông tin lịch thi đấu</strong>
                    <div style="float:right;">
                            <button type="submit" form="form1" class="btn btn-primary btn-sm">
                                    <i class="fa fa-check"></i> Xác nhận
                                </button>
                                <button type="reset" form="form1" class="btn btn-danger btn-sm">
                                    <i class="fa fa-ban"></i> Reset
                                </button>
                    </div>
                </div>
                <div class="card-body">
                    <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                        
                        <thead class="thead-dark">
                            <tr>
                                <th>Vòng 1</th>
                                <th>Đội nhà</th>
                                <th>Đội khách</th>
                                <th>Địa điểm</th>
                                <th>Thời gian</th>
                                <th>Trọng tài</th>
                            </tr>
                        </thead>
                        <form id="form1">

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Juventus</td>
                                    <td>Napoli</td>
                                    <td>Allianz Stadium</td>
                                        <td><input type="text" id="thoigiantrani" name="thoigiantrandau"
                                                placeholder="hh:mm:ss dd/mm/yy" class="form-control"></td>
                                    <td><select name="select" id="select" class="form-control">
                                            <option value="0">Chọn trọng tài</option>
                                            <option value="1">Howard Webb</option>
                                            <option value="2">Mark Clattenburg #2</option>
                                            <option value="3">Mike Dean #3</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Juventus</td>
                                    <td>Napoli</td>
                                    <td>Allianz Stadium</td>
                                    <td><input type="text" id="thoigiantrani" name="thoigiantrandau"
                                            placeholder="hh:mm:ss dd/mm/yy" class="form-control"></td>
                                            <td><select name="select" id="select" class="form-control">
                                                    <option value="0">Chọn trọng tài</option>
                                                    <option value="1">Howard Webb</option>
                                                    <option value="2">Mark Clattenburg #2</option>
                                                    <option value="3">Mike Dean #3</option>
                                                </select>
                                            </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Juventus</td>
                                    <td>Napoli</td>
                                    <td>Allianz Stadium</td>
                                    <td><input type="text" id="thoigiantrani" name="thoigiantrandau"
                                            placeholder="hh:mm:ss dd/mm/yy" class="form-control"></td>
                                            <td><select name="select" id="select" class="form-control">
                                                    <option value="0">Chọn trọng tài</option>
                                                    <option value="1">Howard Webb</option>
                                                    <option value="2">Mark Clattenburg #2</option>
                                                    <option value="3">Mike Dean #3</option>
                                                </select>
                                            </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Juventus</td>
                                    <td>Napoli</td>
                                    <td>Allianz Stadium</td>
                                    <td><input type="text" id="thoigiantrani" name="thoigiantrandau"
                                            placeholder="hh:mm:ss dd/mm/yy" class="form-control"></td>
                                            <td><select name="select" id="select" class="form-control">
                                                    <option value="0">Chọn trọng tài</option>
                                                    <option value="1">Howard Webb</option>
                                                    <option value="2">Mark Clattenburg #2</option>
                                                    <option value="3">Mike Dean #3</option>
                                                </select>
                                            </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Juventus</td>
                                    <td>Napoli</td>
                                    <td>Allianz Stadium</td>
                                    <td><input type="text" id="thoigiantrani" name="thoigiantrandau"
                                            placeholder="hh:mm:ss dd/mm/yy" class="form-control"></td>
                                            <td><select name="select" id="select" class="form-control">
                                                    <option value="0">Chọn trọng tài</option>
                                                    <option value="1">Howard Webb</option>
                                                    <option value="2">Mark Clattenburg #2</option>
                                                    <option value="3">Mike Dean #3</option>
                                                </select>
                                            </td>
                                </tr>
                            </tbody>
                            <!-- <tbody>
                                    <thead class="thead-dark">
                                            <tr>
                                                    <td>
                
                                                    </td>
                                                    <td>
                
                                                    </td>
                                                    <td>
                
                                                    </td>
                                                    <td>
                
                                                    </td>
                                                    <td>
                
                                                    </td>
                                                    <td>
                                                        <button type="submit" form="form1" class="btn btn-primary btn-sm">
                                                            <i class="fa fa-check"></i> Xác nhận
                                                        </button>
                                                        <button type="reset" form="form1" class="btn btn-danger btn-sm">
                                                            <i class="fa fa-ban"></i> Reset
                                                        </button>
                                                    </td>
                                                </tr>
                                    </thead>
                                </tbody> -->

                        </form>

                        <!-- <thead class="thead-dark">
                            <tr>
                                <th>Vòng 2</th>
                                <th>Đội nhà</th>
                                <th>Đội khách</th>
                                <th>Địa điểm</th>
                                <th>Thời gian</th>
                                <th>Trọng tài</th>
                            </tr>
                        </thead>
                        <form id="form2">
                            <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>Juventus</td>
                                    <td>Napoli</td>
                                    <td>Allianz Stadium</td>
                                    <td><input type="text" id="thoigiantrani" name="thoigiantrandau"
                                            placeholder="hh:mm:ss dd/mm/yy" class="form-control"></td>
                                            <td><select name="select" id="select" class="form-control">
                                                    <option value="0">Chọn trọng tài</option>
                                                    <option value="1">Howard Webb</option>
                                                    <option value="2">Mark Clattenburg #2</option>
                                                    <option value="3">Mike Dean #3</option>
                                                </select>
                                            </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Juventus</td>
                                    <td>Napoli</td>
                                    <td>Allianz Stadium</td>
                                    <td><input type="text" id="thoigiantrani" name="thoigiantrandau"
                                            placeholder="hh:mm:ss dd/mm/yy" class="form-control"></td>
                                            <td><select name="select" id="select" class="form-control">
                                                    <option value="0">Chọn trọng tài</option>
                                                    <option value="1">Howard Webb</option>
                                                    <option value="2">Mark Clattenburg #2</option>
                                                    <option value="3">Mike Dean #3</option>
                                                </select>
                                            </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Juventus</td>
                                    <td>Napoli</td>
                                    <td>Allianz Stadium</td>
                                    <td><input type="text" id="thoigiantrani" name="thoigiantrandau"
                                            placeholder="hh:mm:ss dd/mm/yy" class="form-control"></td>
                                            <td><select name="select" id="select" class="form-control">
                                                    <option value="0">Chọn trọng tài</option>
                                                    <option value="1">Howard Webb</option>
                                                    <option value="2">Mark Clattenburg #2</option>
                                                    <option value="3">Mike Dean #3</option>
                                                </select>
                                            </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Juventus</td>
                                    <td>Napoli</td>
                                    <td>Allianz Stadium</td>
                                    <td><input type="text" id="thoigiantrani" name="thoigiantrandau"
                                            placeholder="hh:mm:ss dd/mm/yy" class="form-control"></td>
                                            <td><select name="select" id="select" class="form-control">
                                                    <option value="0">Chọn trọng tài</option>
                                                    <option value="1">Howard Webb</option>
                                                    <option value="2">Mark Clattenburg #2</option>
                                                    <option value="3">Mike Dean #3</option>
                                                </select>
                                            </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Juventus</td>
                                    <td>Napoli</td>
                                    <td>Allianz Stadium</td>
                                    <td><input type="text" id="thoigiantrani" name="thoigiantrandau"
                                            placeholder="hh:mm:ss dd/mm/yy" class="form-control"></td>
                                            <td><select name="select" id="select" class="form-control">
                                                    <option value="0">Chọn trọng tài</option>
                                                    <option value="1">Howard Webb</option>
                                                    <option value="2">Mark Clattenburg #2</option>
                                                    <option value="3">Mike Dean #3</option>
                                                </select>
                                            </td>
                                </tr>
                            </tbody>
                            <tbody>
                                    <thead class="thead-dark">
                                            <tr>
                                                    <td>
                
                                                    </td>
                                                    <td>
                
                                                    </td>
                                                    <td>
                
                                                    </td>
                                                    <td>
                
                                                    </td>
                                                    <td>
                
                                                    </td>
                                                    <td>
                                                        <button type="submit" form="form2" class="btn btn-primary btn-sm">
                                                            <i class="fa fa-check"></i> Xác nhận
                                                        </button>
                                                        <button type="reset" form="form2" class="btn btn-danger btn-sm">
                                                            <i class="fa fa-ban"></i> Reset
                                                        </button>
                                                    </td>
                                                </tr>
                                    </thead>
                                </tbody>
                        </form> -->

                    </table>
                    <div style="float:right;">
                            <button type="button" class="btn btn-outline-primary btn-sm">Vòng kế trước</button>
                            <button type="button" class="btn btn-outline-primary btn-sm">Vòng kế tiếp</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>