<div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Lịch thi đấu - Vòng 1</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead class="thead-dark">
                                        <tr>
                                                <th>                
                                                    <select id="round" class="form-control">
                                                        <option selected>Vòng 1</option>
                                                        <option>Vòng 2</option>
                                                        <option>Vòng 3</option>
                                                        <option>Vòng 4</option>
                                                        <option>Vòng 5</option>
                                                      </select> </th>
                                                <th>
                                                        <select id="home" class="form-control">
                                                                <option selected>Đội nhà</option>
                                                                <option>Juventus</option>
                                                                <option>Hoàng Anh Gia Lai</option>
                                                                <option>Chelsea</option>
                                                                <option>Napoli</option>
                                                              </select>
                                                </th>
                                                <th>
                                                        <select id="away" class="form-control">
                                                                <option selected>Đội khách</option>
                                                                <option>Juventus</option>
                                                                <option>Hoàng Anh Gia Lai</option>
                                                                <option>Chelsea</option>
                                                                <option>Napoli</option>
                                                              </select>
                                                </th>
                                                <th><select id="stadium" class="form-control">
                                                        <option selected>Địa điểm</option>
                                                        <option>Allianz Stadium</option>
                                                        <option>Old Trafford Stadium</option>
                                                        <option>Anfield Stadium</option>
                                                        
                                                      </select></th>
                                                <th><select id="time" class="form-control">
                                                        <option selected>Thời gian</option>
                                                        <option>Sort A-Z</option>
                                                        <option>Sort Z-A</option>
                                                        
                                                        
                                                      </select></th>
                                                      <!-- <th><select id="ref" class="form-control">
                                                            <option selected>Trọng tài</option>
                                                        
                                                            <option value="1">Howard Webb</option>
                                                            <option value="2">Mark Clattenburg</option>
                                                            <option value="3">Mike Dean</option>
                                                            
                                                          </select></th> -->
                                        </tr>
                                </thead>
                               <%- include('./fixture-round') -%>        
                        </table>
                        <div style="float:right;">
                                <button type="button" class="btn btn-outline-primary btn-sm">Vòng kế trước</button>
                                <button type="button" class="btn btn-outline-primary btn-sm">Vòng kế tiếp</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>