<div class="col-sm-12">
    <div class="alert  alert-success alert-dismissible fade show" role="alert">
        <span class="badge badge-pill badge-success">Hồ sơ giải đấu</span>
        <i class="fa fa-plus-square close"></i>
    </div>
</div>

<div class="col-sm-6 col-lg-3">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Mùa giải 2015 - 2016</h5>
            <img src="" alt="image">
            <a href="#" class="btn btn-primary col-sm-12">Xem chi tiết</a>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-3">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Mùa giải 2016 - 2017</h5>
            <img src="" alt="image">
            <a href="#" class="btn btn-primary col-sm-12">Xem chi tiết</a>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-3">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Mùa giải 2017 - 2018</h5>
            <img src="" alt="image">
            <a href="#" class="btn btn-primary col-sm-12">Xem chi tiết</a>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-3">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Mùa giải 2018 - 2019</h5>
            <img src="" alt="image">
            <a href="#" class="btn btn-primary col-sm-12">Xem chi tiết</a>
        </div>
    </div>
</div>