<div class="col-sm-12">
    <div class="alert  alert-success alert-dismissible fade show" role="alert">
        <span class="badge badge-pill badge-success">Hồ sơ giải đấu</span>
        <i class="fa fa-plus-square close"></i>
    </div>
</div>
<% for(var i=1; i < 5; i++) { %>
<div class="col-sm-6 col-lg-3">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Mùa giải 2015 - 2016</h5>
            <img src="https://taiphanmempc.net/wp-content/uploads/2018/12/fifa-2019-game-bong-da-fifa-2019-1.jpg" alt="image">
            <p></p>
            <a href="#" class="btn btn-primary col-sm-12">Xem chi tiết</a>
        </div>
    </div>
</div>
<% } %>