<div class=" col-lg-12  ">

    <div class=" card ">
        <div class="card-header">
            <strong class="card-title">

                <!-- filter -->
                <div class="row align-items-center justify-content-center">
                    <div class="col pt-3">
                        <div class="form-group">
                            <select id="categories" class="form-control">
                                <option selected>Vòng 1</option>
                                <option>Vòng 1</option>
                                <option>Vòng 2</option>
                                <option>Vòng 3</option>
                                <option>Vòng 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col pt-3">
                        <div class="form-group">
                            <select id="categories" class="form-control">
                                <option selected>CLB</option>
                                <option>Manchester City</option>
                                <option>Manchester United</option>
                                <option>Chelsea</option>
                                <option>Arsenal</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary btn-block"><i class="fas fa-filter"></i>
                            Lọc</button>
                    </div>
                </div> <!-- end filter-->
            </strong>
        </div>

        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"><i>Trận đấu</th>
                        <th scope="col"><i class="fa fa-check-square fa-flag-checkered"></i> Kết quả</th>
                        <!-- <th scope="col"><i class="fa fa-check-square fa-futbol"></i> Bàn thắng</th> -->
                        <th scope="col"><i class="fa fa-check-square fa-map-marker-alt"></i> Sân vận động</th>
                        <th scope="col"><i class="fa fa-check-square fa-stopwatch"></i> Thời gian</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th scope="row"></th>
                        <td>
                            <div class="home-away">
                                <div>Manchester United vs Manchster City</div>
                            </div>
                        </td>
                        <td><input type="text" id="tisotrani" name="tisotrani"
                            placeholder="h - a" class="form-control col-lg-3"></td>
                       
                        <td>Old Trafford</td>
                        <td>21:00 09/09/2019</td>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <td>
                            <div class="home-away">
                                <div>Manchester United vs Manchster City</div>
                            </div>
                        </td>
                        <td><input type="text" id="tisotrani" name="tisotrani"                             placeholder="h - a" class="form-control col-lg-3"></td>
                        <td>Old Trafford</td>
                        <td>21:00 09/09/2019</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <div class="home-away">
                                <div>Manchester United vs Manchster City</div>
                            </div>
                        </td>
                        <td><input type="text" id="tisotrani" name="tisotrani"                             placeholder="h - a" class="form-control col-lg-3"></td>
                        <td>Old Trafford</td>
                        <td>21:00 09/09/2019</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <div class="home-away">
                                <div>Manchester United vs Manchster City</div>
                            </div>
                        </td>
                        <td><input type="text" id="tisotrani" name="tisotrani"                             placeholder="h - a" class="form-control col-lg-3"></td>
                        <td>Old Trafford</td>
                        <td>21:00 09/09/2019</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <div class="home-away">
                                <div>Manchester United vs Manchster City</div>
                            </div>
                        </td>
                        <td><input type="text" id="tisotrani" name="tisotrani"                             placeholder="h - a" class="form-control col-lg-3"></td>
                        <td>Old Trafford</td>
                        <td>21:00 09/09/2019</td>
                    </tr>

                </tbody>
            </table>
            <div style="float:right;">
                <button type="button" class="btn btn-outline-primary btn-sm">Vòng kế trước</button>
                <button type="button" class="btn btn-outline-primary btn-sm">Vòng kế tiếp</button>
            </div>
        </div>

    </div>


</div>