<div class=" col-lg-12  ">

    <div class=" card ">
        <div class="card-header">
            <strong class="card-title">

                <!-- filter -->
                <div class="row align-items-center justify-content-center">
                    <div class="col pt-3">
                        <div class="form-group">
                            <select id="categories" class="form-control">
                                <option selected>Vòng 1</option>
                                <option>Vòng 1</option>
                                <option>Vòng 2</option>
                                <option>Vòng 3</option>
                                <option>Vòng 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col pt-3">
                        <div class="form-group">
                            <select id="categories" class="form-control">
                                <option selected>Chưa cập nhật</option>
                                <option>Đã cập nhật</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary btn-block"><i class="fas fa-filter"></i>
                            Lọc</button>
                    </div>
                </div> <!-- end filter-->
            </strong>
        </div>

        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"><i>Trận đấu</th>
                        <th scope="col"><i class="fa fa-check-square fa-flag-checkered"></i> Kết quả - Thống kê</th>
                        <!-- <th scope="col"><i class="fa fa-check-square fa-futbol"></i> Bàn thắng</th> -->
                        <th scope="col"><i class="fa fa-check-square fa-map-marker-alt"></i> Sân vận động</th>
                        <th scope="col"><i class="fa fa-check-square fa-stopwatch"></i> Thời gian</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th scope="row"></th>
                        <td>
                            <div class="home-away">
                                <div>Manchester United vs Manchster City</div>
                            </div>
                        </td>
                        <!-- <td><input type="text" id="tisotrani" name="tisotrani"
                            placeholder="h - a" class="form-control col-lg-3"></td> -->
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#largeModal">
                                Cập nhật
                            </button>
                        </td>
                        <td>Old Trafford</td>
                        <td>21:00 09/09/2019</td>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <td>
                            <div class="home-away">
                                <div>Manchester United vs Manchster City</div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#largeModal">
                                Cập nhật
                            </button>
                        </td>
                        <td>Old Trafford</td>
                        <td>21:00 09/09/2019</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <div class="home-away">
                                <div>Manchester United vs Manchster City</div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#largeModal">
                                Cập nhật
                            </button>
                        </td>
                        <td>Old Trafford</td>
                        <td>21:00 09/09/2019</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <div class="home-away">
                                <div>Manchester United vs Manchster City</div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#largeModal">
                                Cập nhật
                            </button>
                        </td>
                        <td>Old Trafford</td>
                        <td>21:00 09/09/2019</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <div class="home-away">
                                <div>Manchester United vs Manchster City</div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#largeModal">
                                Cập nhật
                            </button>
                        </td>
                        <td>Old Trafford</td>
                        <td>21:00 09/09/2019</td>
                    </tr>

                </tbody>
            </table>
            <div style="float:right;">
                <button type="button" class="btn btn-outline-primary btn-sm">Vòng kế trước</button>
                <button type="button" class="btn btn-outline-primary btn-sm">Vòng kế tiếp</button>
            </div>
        </div>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="largeModalLabel">Cập nhật thông số trận đấu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- <p>
                        There are three species of zebras: the plains zebra, the mountain zebra and the Grévy's zebra. The plains zebra
                        and the mountain zebra belong to the subgenus Hippotigris, but Grévy's zebra is the sole species of subgenus
                        Dolichohippus. The latter resembles an ass, to which it is closely related, while the former two are more
                        horse-like. All three belong to the genus Equus, along with other living equids.
                    </p> -->

                    <div class="info-result">
                        <div class="side-side">
                            <div>Home</div>
                            <div class="component-side">
                                Số bàn thắng
                                <div>
                                    <select name="select" id="select" class="form-control">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>   
                                </div>
                            </div>
                            <div class="component-side">Số thẻ vàng
                                    <div>
                                            <select name="select" id="select" class="form-control">
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>   
                                        </div>    
                            </div>
                            <div class="component-side">Số thẻ đỏ 
                                    <div>
                                            <select name="select" id="select" class="form-control">
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>   
                                        </div>
                            </div>
                        </div>
                        <div class="side-side">
                                <div>Away</div>
                                <div class="component-side">
                                    Số bàn thắng
                                    <div>
                                        <select name="select" id="select" class="form-control">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>   
                                    </div>
                                </div>
                                <div class="component-side">Số thẻ vàng
                                        <div>
                                                <select name="select" id="select" class="form-control">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>   
                                            </div>    
                                </div>
                                <div class="component-side">Số thẻ đỏ 
                                        <div>
                                                <select name="select" id="select" class="form-control">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>   
                                            </div>
                                </div>
                            </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->


</div>