<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-9">
            <div class="card">
                <div class="card-header">
                    <strong>Thông tin cầu thủ</strong>
                </div>
                <div class="card-body card-block">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                    <label for="tencauthu" class=" form-control-label ">Tên cầu
                                            thủ</label>
                                <input type="text" id="tencauthu" name="tencauthu"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                                <div class="col-12 col-md-12">
                                        <label for="loaicauthu" class=" form-control-label ">Loại cầu thủ</label>
                                    <input type="text" id="loaicauthu" name="loaicauthu"
                                        class="form-control">
                                </div>
                            </div>
                        <div class="row form-group">
                                <div class="col-12 col-md-12">
                                        <label for="quoctich" class=" form-control-label ">Quốc tịch</label>
                                    <input type="text" id="quoctich" name="quoctich"
                                        class="form-control">
                                </div>
                            </div>
                        <div class="row form-group">
                                <div class="col-12 col-md-12">
                                        <label for="doibong" class=" form-control-label ">Đội bóng</label>
                        
                                        <select id="doibong" name="doibong" class="form-control">
                                                <option selected>Chọn CLB</option>
                                                <option>MU</option>
                                                <option>Chelsea</option>
                                                <option>City</option>
                                                <option>Spurs</option>
                                              </select>
                                        
                                </div>
                            </div>
                            <div class="row form-group">
                                    
                                    <div class="col-12 col-md-9">
                                            <label for="logo" class=" form-control-label">Hình ảnh</label>
                                            <input type="file" id="logo" name="logo"
                                            
                                            class="form-control-file"></div>
                            </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-check"></i> Đăng ký
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Hủy
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>