<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <strong>Thông tin cầu thủ</strong>
                </div>
                <div class="card-body card-block">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                        <div class="row form-group">

                            <div class="col col-md-3 "><label for="tencauthu" class=" form-control-label ">Tên cầu
                                    thủ</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="tencauthu" name="tencauthu" placeholder="Tên đội bóng"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3 "><label for="loaicauthu" class=" form-control-label ">Loại cầu
                                    thủ</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="loaicauthu" name="loaicauthu" placeholder="Loại cầu thủ"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">

                            <div class="col col-md-3 "><label for="quoctich" class=" form-control-label ">Quốc
                                    tịch</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="quoctich" name="quoctich" placeholder="Quốc tịch"
                                    class="form-control">

                            </div>
                        </div>
                        <div class="row form-group">

                            <div class="col col-md-3 "><label for="dob" class=" form-control-label ">Ngày sinh</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="dob" name="dob" placeholder="Ngày sinh" class="form-control">

                            </div>

                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-check"></i> Đăng ký
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Hủy
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>