<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-9">
            <div class="card">
                <div class="card-header">
                    <strong>Thông tin cầu thủ</strong>
                </div>
                <div class="card-body card-block">
                    <form id="registerForm" action="/player/add/<%=idSeason%>" method="post" class="form-horizontal">
                        <% if (success) { %>
                        <div class="alert alert-success" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Success!</strong>
                            <%= messagesSuccess %>
                        </div>
                        <% } %>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <label for="tenCauThu" class=" form-control-label ">Tên cầu
                                    thủ</label>
                                <input type="text" id="tenCauThu" name="tenCauThu" class="form-control"
                                    required="required">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <label for="loaiCauThu" class=" form-control-label ">Loại cầu thủ</label>
                                <!-- <input type="text" id="loaicauthu" name="loaicauthu" class="form-control"> -->
                                <select id="loaiCauThu" name="loaiCauThu" class="form-control" required="required">
                                    <option value="1" selected>Cầu thủ nội</option>
                                    <option value="0">Cầu thủ ngoại</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <label for="viTriThiDau" class=" form-control-label ">Vị trí thi đấu</label>
                                <!-- <input type="text" id="loaicauthu" name="loaicauthu" class="form-control"> -->
                                <select id="viTriThiDau" name="viTriThiDau" class="form-control" required="required">
                                    <option value="1" selected>Thủ môn</option>
                                    <option value="2">Hậu vệ</option>
                                    <option value="3">Tiền vệ</option>
                                    <option value="4">Tiền đạo</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <label for="quocTich" class=" form-control-label ">Quốc tịch</label>
                                <input type="text" id="quocTich" name="quocTich" class="form-control"
                                    required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDOB">Date of birth</label>
                            <input type="text" class="form-control" id="txtDOB" name="dob">
                        </div>
                        <div class="row form-group">
                                <div class="col-12 col-md-12">
                                        <label for="doiBong" class=" form-control-label ">Đội bóng</label>
                        
                                        <select id="doiBong" name="doiBong" class="form-control">
                                                <% for(var i = 0; i < danhsachdoibong.length; i++) { %>
                                                    <option value="<%=  danhsachdoibong[i]._id %>"><%=danhsachdoibong[i].tenDoiBong%>  </option>
                                                <% } %>
                                                <!-- <option selected>Chọn CLB</option>
                                                <option>MU</option>
                                                <option>Chelsea</option>
                                                <option>City</option>
                                                <option>Spurs</option> -->
                                              </select>
                                        
                                </div>
                            </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-9">
                                <label for="logo" class=" form-control-label">Hình ảnh</label>
                                <!-- <input type="file" id="avatar" name="avatar" class="form-control-file"></div> -->
                                <div class="file-loading">
                                    <input id="avatar" name="avatar" type="file" multiple>
                                </div>
                            </div>
                            <input type="hidden" id="imgPath" name="imgPath" value="">

                        </div>

                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" form="registerForm" class="btn btn-primary btn-sm">
                        <i class="fa fa-check"></i> Đăng ký
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Hủy
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>