
        <td>
                <div class="home-away">
                    <div>Manchester United vs Manchster City</div>
                </div>
            </td>
            <td> 3 - 0 </td>
            <td>Old Trafford</td>
            <td>21:00 09/09/2019</td>