
    <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" ><i>Trận đấu</th>
                        <th scope="col" ><i class="fa fa-check-square fa-flag-checkered"></i> Kết quả</th>
                        <th scope="col" ><i class="fa fa-check-square fa-map-marker-alt"></i> Sân vận động</th>
                        <th scope="col" ><i class="fa fa-check-square fa-stopwatch"></i> Thời gian</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=1; i <= 5; i++) { %>
                        <tr>
                            <th scope="row"><%= i %></th>
                            <%- include('./result-match') -%>
                        </tr>
                     <% } %>
                </tbody>
            </table>
            <div style="float:right;">
                    <button type="button" class="btn btn-outline-primary btn-sm">Vòng kế trước</button>
                    <button type="button" class="btn btn-outline-primary btn-sm">Vòng kế tiếp</button>
            </div>
        </div>
    