<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <strong>Bảng thông số</strong>
                </div>
                <div class="card-body card-block">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                        <div class="row form-group">

                            <div class="col col-md-4 "><label for="#" class=" form-control-label ">Điểm số
                                    thắng</label>
                            </div>
                            <div class="col-12 col-md-2">
                                <select name="diemthang" id="diemthang" class="form-control-sm form-control">
                                    <option value="0">2</option>
                                    <option value="1">3</option>
                                </select>
                            </div>
                            <div class="col col-md-4 "><label for="#" class=" form-control-label ">Điểm số
                                    hòa</label>
                            </div>
                            <div class="col-12 col-md-2">
                                <select name="diemhoa" id="diemhoa" class="form-control-sm form-control">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                            </div>

                        </div>
                        <div class="row form-group">
                            <div class="col col-md-4 "><label for="#" class=" form-control-label ">Điểm số
                                    thua</label>
                            </div>
                            <div class="col-12 col-md-2">
                                <select name="diemthua" id="diemthua" class="form-control-sm form-control">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <div class="col col-md-4 "><label for="#" class=" form-control-label ">Số đội
                                    xuống hạng</label>
                            </div>
                            <div class="col-12 col-md-2">
                                <select name="sodoixuonghang" id="sodoixuonghang" class="form-control-sm form-control">
                                    <option value="0">1</option>
                                    <option value="1">2</option>
                                    <option value="1">3</option>
                                </select>
                            </div>
                        </div>

                        <div class="row form-group">

                            <div class="col col-md-4 "><label for="#" class=" form-control-label ">Số đội dự
                                    C1</label>
                            </div>
                            <div class="col-12 col-md-2">
                                <select name="sodoiduC1" id="sodoiduC1" class="form-control-sm form-control">
                                    <option value="0">1</option>
                                    <option value="1">2</option>
                                    <option value="1">3</option>
                                </select>
                            </div>
                            <div class="col col-md-4 "><label for="#" class=" form-control-label ">Số đội dự
                                    C2</label>
                            </div>

                            <div class="col-12 col-md-2">
                                <select name="sodoiduC2" id="sodoiduC2" class="form-control-sm form-control">
                                    <option value="0">1</option>
                                    <option value="1">2</option>
                                    <option value="1">3</option>
                                </select>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-4 ">
                                <label for="#" class=" form-control-label ">Số cầu
                                    thủ ngoại tối đa</label>
                            </div>
                            <div class="col-12 col-md-2">
                                <select name="ngoaibinhMax" id="ngoaibinhMax" class="form-control-sm form-control">
                                    <option value="0">1</option>
                                    <option value="1">4</option>
                                </select>
                            </div>
                            <div class="col col-md-4 "><label for="#" class=" form-control-label ">Số phút
                                    bù giờ tối đa</label>
                            </div>
                            <div class="col-12 col-md-2">
                                <select name="bugioMax" id="bugioMax" class="form-control-sm form-control">
                                    <option value="0">9</option>
                                    <option value="1">10</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-2"><label for="#" class=" form-control-label">Tuổi cầu
                                    thủ</label>
                            </div>
                            <div class="col-12 col-md-2">
                                <select name="tuoiMin" id="tuoiMin" class="form-control-sm form-control">
                                    <option value="0">16</option>
                                    <option value="1">17</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-2">
                                <select name="tuoiMax" id="tuoiMax" class="form-control-sm form-control">
                                    <option value="0">39</option>
                                    <option value="1">40</option>
                                </select>
                            </div>


                            <div class="col col-md-2"><label for="#" class=" form-control-label">Số cầu
                                    thủ</label>
                            </div>
                            <div class="col-12 col-md-2">
                                <select name="selectSm" id="cauthuMin" class="form-control-sm form-control">
                                    <option value="0">16</option>
                                    <option value="1">17</option>
                                </select>
                            </div>

                            <div class="col-12 col-md-2">
                                <select name="selectSm" id="cauthuMax" class="form-control-sm form-control">
                                    <option value="0">39</option>
                                    <option value="1">40</option>
                                </select>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-4 "><label for="#" class=" form-control-label ">Thứ tự ưu
                                    tiên</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <select data-placeholder="Chọn theo thứ tự giảm dần..." multiple class="standardSelect">
                                    <option value=""></option>
                                    <option value="United States">Điểm</option>
                                    <option value="United Kingdom">Hệ số</option>
                                    <option value="Afghanistan">Bàn thắng</option>
                                    <option value="Aland Islands">Đối đầu</option>
                                </select>
                            </div>
                        </div>


                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-edit"></i> Cập nhật
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Mặc định
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>