<div class="col-sm-6 col-lg-3">
    <div class="card shadow-lg">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center">Manchester United</h5>
          <img class="rounded-circle logo-team" src="https://platform-static-files.s3.amazonaws.com/premierleague/badges/t1.svg" alt="image">
          <p style="text-align: center">Old Trafford</p>
          <a href="/club/info/manutd" class="btn btn-primary col-sm-12">Profile</a>
        </div>
      </div>
</div>
<div class="col-sm-6 col-lg-3">
        <div class="card shadow-lg">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center">Arsenal</h5>
                  <img class="rounded-circle logo-team" src="https://platform-static-files.s3.amazonaws.com/premierleague/badges/t3.svg" alt="image">
                  <p style="text-align: center">Emirates Stadium</p>
                  <a href="#" class="btn btn-primary col-sm-12">Profile</a>
                </div>
              </div>
</div>
<div class="col-sm-6 col-lg-3">
        <div class="card shadow-lg">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center">Chelsea</h5>
                  <img class="rounded-circle logo-team" src="https://platform-static-files.s3.amazonaws.com/premierleague/badges/t8.svg" alt="image">
                  <p style="text-align: center">Stamford bridge</p>
                  <a href="#" class="btn btn-primary col-sm-12">Profile</a>
                </div>
              </div>
</div>
<div class="col-sm-6 col-lg-3">
        <div class="card shadow-lg">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center">Liverpool</h5>
                  <img class="rounded-circle logo-team" src="https://platform-static-files.s3.amazonaws.com/premierleague/badges/t14.svg" alt="image">
                  <p style="text-align: center">Anfield</p>
                  <a href="#" class="btn btn-primary col-sm-12">Profile</a>
                </div>
              </div>
</div>