<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Bảng xếp hạng</strong>
                </div>
                <div class="card-body">
                    <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>TT</th>
                                <th>CLB</th>
                                <th>Số trận</th>
                                <th>Thắng</th>
                                <th>Hòa</th>
                                <th>Thua</th>
                                <th>Bàn thắng</th>
                                <th>Bàn thua</th>
                                <th>Hệ số</th>
                                <th>Điểm</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Juventus</td>
                                <td>38</td>
                                <td>28</td>
                                <td>6</td>
                                <td>4</td>
                                <td>70</td>
                                <td>30</td>
                                <td>40</td>
                                <td>90</td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Napoli</td>
                                <td>38</td>
                                <td>24</td>
                                <td>7</td>
                                <td>7</td>
                                <td>74</td>
                                <td>36</td>
                                <td>38</td>
                                <td>79</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Atalanta</td>
                                <td>38</td>
                                <td>20</td>
                                <td>9</td>
                                <td>9</td>
                                <td>77</td>
                                <td>46</td>
                                <td>31</td>
                                <td>69</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>