<div class="animated fadeIn">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Top kiến tạo</strong>
                </div>
                <div class="card-body">
                    <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>TT</th>
                                <th>Cầu thủ</th>
                                <th>Đội bóng</th>
                                <th>Số kiến tạo</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>J. Sancho</td>
                                <td>Borussia Dortmund</td>
                                <td>14</td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>J. Kimmich</td>
                                <td>Bayern München	</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>J. Brandt</td>
                                <td>Bayer Leverkusen</td>
                                <td>11</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>